/* CSS Custom Properties - Jinja2 Templated Theme Variables */

:root {
    /* Pywal Colors */
    --color-background: {{ colors.background }};
    --color-foreground: {{ colors.foreground }};
    --color-0: {{ colors.color0 }};
    --color-1: {{ colors.color1 }};
    --color-2: {{ colors.color2 }};
    --color-3: {{ colors.color3 }};
    --color-4: {{ colors.color4 }};
    --color-5: {{ colors.color5 }};
    --color-6: {{ colors.color6 }};
    --color-7: {{ colors.color7 }};
    --color-8: {{ colors.color8 }};
    --color-9: {{ colors.color9 }};
    --color-10: {{ colors.color10 }};
    --color-11: {{ colors.color11 }};
    --color-12: {{ colors.color12 }};
    --color-13: {{ colors.color13 }};
    --color-14: {{ colors.color14 }};
    --color-15: {{ colors.color15 }};
    
    /* Semantic Color Mappings */
    --primary-accent: {{ colors.color12 }};
    --secondary-accent: {{ colors.color14 }};
    --success-color: {{ colors.color10 }};
    --warning-color: {{ colors.color11 }};
    --danger-color: {{ colors.color9 }};
    --muted-color: {{ colors.color8 }};
}
